<?xml version="1.0" encoding="utf-8"?>
<!--
Sample
-->
<configuration>
      <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlaylistEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <PlaylistEditor.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>192.168.178.100</value>
            </setting>
            <setting name="replaceDrive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hotkey" serializeAs="String">
                <value>73</value>
            </setting>
            <setting name="specKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="rpi" serializeAs="String">
                <value>192.168.178.91</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>kodi</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="colSearch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colDupli" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="leftshift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="vlcpath" serializeAs="String">
                <value/>
            </setting>
            <setting name="openpath" serializeAs="String">
                <value/>
            </setting>
            <setting name="vlc_fullsreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="user_agent" serializeAs="String">
                <value>Mozilla/5.0 (X11; Linux i686; rv:42.0) Gecko/20100101 Firefox/42.0 Iceweasel/42.0</value>
            </setting>
            <setting name="autoplayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F2_edit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startfile" serializeAs="String">
                <value/>
            </setting>
            <setting name="filestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="hotkey_enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="findresult" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="F2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ZoomFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Error403" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="maxthread" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cobSpeech" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="localize" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="lastfiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>no file</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="lastfilescount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="timeout" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="scrollbar" serializeAs="String">
                <value>False</value>
            </setting>
        </PlaylistEditor.Properties.Settings>
    </userSettings>
</configuration>
